# Project
__temp__/
__logs__/
**/.hatch

# VSCode
.vscode/
*.code-workspace

# env file sample
**.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.log
*.pot
*.mo
*.sqlite3
*.db
*.venv
.env/
.venv/
pip-log.txt
pip-delete-this-directory.txt
*.manifest
*.spec
*.coverage
.coverage.*
.cache/
*.pytest_cache/
.tox/
nosetests.xml
coverage.xml
*.mypy_cache/
.dmypy.json
.pyre/
.pytype/
*.ipynb_checkpoints
*.pyc

# Node.js dependencies for semantic-release
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Semantic-release
.semantic-release/

# Docker
*.dockerfile
Dockerfile.*
docker-compose.override.yml
.dockerignore
.docker/

# Jekyll
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
Gemfile.lock