services:
  hatchling:
    image: hatchling
    build:
      context: ..
      dockerfile: ./docker/Dockerfile
    volumes:
      - ${HATCH_HOST_CACHE_DIR}:/home/${USER_NAME}/.hatch
      - ${HATCH_LOCAL_PACKAGE_DIR}:/home/${USER_NAME}/.local
    env_file: .env
    environment:
      - USER_ID=${USER_ID:-1000}
      - GROUP_ID=${GROUP_ID:-1000}
      - USER_NAME=${USER_NAME:-HatchlingUser}
      - HATCHLING_DEFAULT_LANGUAGE=${HATCHLING_DEFAULT_LANGUAGE:-en}
      - HATCHLING_SOURCE_DIR=${HATCHLING_SOURCE_DIR:-/opt/Hatchling}
      - LLM_PROVIDER=${LLM_PROVIDER:-ollama}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - OPENAI_MODEL=${OPENAI_MODEL:-gpt-4.1-nano}
      - OPENAI_API_URL=${OPENAI_API_URL:-https://api.openai.com/v1}
      - OLLAMA_HOST_API=${OLLAMA_HOST_API:-http://localhost:11434/api}
      - OLLAMA_MODEL=${OLLAMA_MODEL:-llama3.2}
    network_mode: ${NETWORK_MODE}
    tty: true
    stdin_open: true

  hatchling_dev:
    image: hatchling_dev
    build:
      context: ..
      dockerfile: ./docker/Dockerfile
    volumes:
      - ${HATCH_HOST_CACHE_DIR}:/home/${USER_NAME}/.hatch
      - ${HATCH_LOCAL_PACKAGE_DIR}:/home/${USER_NAME}/.local
      - ../:${HATCHLING_SOURCE_DIR} # Mount source code for development overriding copied /app in docker file
    env_file: .env
    environment:
      - USER_ID=${USER_ID:-1000}
      - GROUP_ID=${GROUP_ID:-1000}
      - USER_NAME=${USER_NAME:-HatchlingUser}
      - HATCHLING_DEFAULT_LANGUAGE=${HATCHLING_DEFAULT_LANGUAGE:-en}
      - HATCHLING_SOURCE_DIR=${HATCHLING_SOURCE_DIR:-/opt/Hatchling}
      - LLM_PROVIDER=${LLM_PROVIDER:-ollama}
      - CHATGPT_API_KEY=${CHATGPT_API_KEY}
      - OPENAI_MODEL=${OPENAI_MODEL:-gpt-4.1-nano}
      - OPENAI_API_URL=${OPENAI_API_URL:-https://api.openai.com/v1}
      - OLLAMA_HOST_API=${OLLAMA_HOST_API:-http://localhost:11434/api}
      - OLLAMA_MODEL=${OLLAMA_MODEL:-llama3.2}
      - DEVELOPMENT_MODE=true
    network_mode: ${NETWORK_MODE}
    tty: true
    stdin_open: true
    
